.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.popup_inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 440px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.popup_inner .popup_close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .popup {
        padding: 30px;
    }
}

